# Python
__pycache__/
*.py[cod]

# Virtualenv
venv/
env/
.venv/

# Django / Backend
backend/db.sqlite3
backend/*.log

# Environment variables
.env

# Node / Frontend
fronted/node_modules/
fronted/dist/

# OS
.DS_Store
Thumbs.db

